/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../.rvm/gems/ruby-1.9.3-p125@aelogica-styleguide/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../.rvm/gems/ruby-1.9.3-p125@aelogica-styleguide/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../.rvm/gems/ruby-1.9.3-p125@aelogica-styleguide/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../.rvm/gems/ruby-1.9.3-p125@aelogica-styleguide/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../.rvm/gems/ruby-1.9.3-p125@aelogica-styleguide/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../.rvm/gems/ruby-1.9.3-p125@aelogica-styleguide/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../.rvm/gems/ruby-1.9.3-p125@aelogica-styleguide/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../.rvm/gems/ruby-1.9.3-p125@aelogica-styleguide/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../.rvm/gems/ruby-1.9.3-p125@aelogica-styleguide/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 1, stylesheets/sass/globals/html_defaults.sass */
body {
  font: 14px/20px "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: white;
  color: #444444;
  line-height: 1.6;
}

/* line 7, stylesheets/sass/globals/html_defaults.sass */
a {
  color: #557799;
  text-decoration: none;
}
/* line 11, stylesheets/sass/globals/html_defaults.sass */
a:hover {
  color: #cccccc;
}

/* line 1, stylesheets/sass/shared/layout.sass */
#ae {
  position: fixed;
  top: 0;
  margin: 0 0 0 -120px;
}

/* line 6, stylesheets/sass/shared/layout.sass */
#container {
  width: 940px;
  margin: 0 auto;
  padding: 30px 0 0 0;
  position: relative;
  *zoom: 1;
}
/* line 38, ../../../.rvm/gems/ruby-1.9.3-p125@aelogica-styleguide/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
#container:after {
  content: "";
  display: table;
  clear: both;
}

/* line 1, stylesheets/sass/shared/header.sass */
header {
  float: left;
  width: 45%;
}

/* line 1, stylesheets/sass/shared/nav.sass */
nav {
  position: relative;
  float: right;
  width: 45%;
}
/* line 6, stylesheets/sass/shared/nav.sass */
nav ul {
  *zoom: 1;
}
/* line 38, ../../../.rvm/gems/ruby-1.9.3-p125@aelogica-styleguide/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
nav ul:after {
  content: "";
  display: table;
  clear: both;
}
/* line 8, stylesheets/sass/shared/nav.sass */
nav ul li {
  float: left;
}
/* line 11, stylesheets/sass/shared/nav.sass */
nav ul li .menu-item {
  display: block;
  padding: 10px;
  color: #999999;
  font-weight: bold;
}
/* line 18, stylesheets/sass/shared/nav.sass */
nav ul li .menu-item:hover {
  color: #444444;
}
/* line 21, stylesheets/sass/shared/nav.sass */
nav ul li .menu-item.current {
  background: #eeeeee;
  color: #444444;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}

/* line 2, stylesheets/sass/components/markdown.sass */
.markdown h1 {
  font-size: 28px;
  font-weight: bold;
  color: black;
  margin: 10px 0;
}

/* line 1, stylesheets/sass/sections/main_content.sass */
#main-content {
  clear: both;
}
