.markdown
  @include grid(10)
  @include grid-push(2)

  h1,h2,h3
    font:
      weight: bold
    margin: 10px 0

  h1
    font:
      size: 28px

  h2
    font:
      size: 24px
    @include border-bottom

  ul
    list-style:
      type: disc
      position: inside

  p
    margin: 10px 0
