:plain
  ---
  menu:
    - name: css
      label: Styling (CSS)
    - name: html
      label: Markup (HTML)
    - name: js
      label: Behavior (JS)
    - name: ruby
      label: Ruby
  ---

!!!
%html
  %head
    %meta{:charset => "utf-8"}/
    %title AELOGICA Style Guide
    %link{:href => "http://fonts.googleapis.com/css?family=Inconsolata", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "http://fonts.googleapis.com/css?family=Anonymous+Pro", :rel => "stylesheet", :type => "text/css"}/
    {% include_css screen %}
    {% include_css plugins/snippet %}
    {% include_css print %}
    /[if IE]
      {% include_css ie %}

  %body
    %section#container

      %header
        #logo
          %a{:href => "http://aelogica.com"}
            %img{:alt => "creative mobile & web development", :title => "creative mobile & web development", :src => "{% image_link cwmd.png %}"}/

      %nav{:role => "navigation"}
        %ul
          {% for element in page.menu %}
          {% if element.name == page.name %}
          %li
            %a{:class => "menu-item current", :href => "http://{{ site.base_url }}/{{ site.project_name }}/{{ element.name }}"} {{ element.label }}
          {% else %}
          %li
            %a{:class => "menu-item", :href => "http://{{ site.base_url }}/{{ site.project_name }}/{{ element.name }}"} {{ element.label }}
          {% endif %}
          {% endfor %}

      %section#main-content
        .sidebar
          %a{:href => "http://{{ site.base_url }}/{{ site.project_name }}", :title => "aelogica"}
            %img{:src => "{% image_link ae.png %}", :alt => "aelogica logo", :title => "aelogica logo"}/

          {% if page.toc %}
          %section.table-of-contents
            %ul
              {% for element in page.toc %}
              %li
                %a.chapter{href: '#{{ element.bookmark }}'} {{ element.bookmark | replace: '_', ' ' | capitalize }}
              {% endfor %}
          {% endif %}

        .markdown
          {{ content }}

      %footer
        %p
          Hosted on Github Pages

    {% include_js jquery-1.7.2.min %}
    {% include_js jquery.snippet.min %}
    {% include_js main %}
