<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta charset='utf-8' />
    <title>AELOGICA Style Guide</title>
    <link href='http://fonts.googleapis.com/css?family=Inconsolata' rel='stylesheet' type='text/css' />
    <link href='http://fonts.googleapis.com/css?family=Anonymous+Pro' rel='stylesheet' type='text/css' />
    <link href='{{ site.url }}stylesheets/screen.css' media='screen, projection' rel='stylesheet' type='text/css' />
    <link href='{{ site.url }}stylesheets/print.css' media='print' rel='stylesheet' type='text/css' />
    <!--[if IE]>
      <link href="{{ site.url }}stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
    <![endif]-->
  </head>
  <body>
    <section id='container'>
      <header>
        <h1>AELOGICA Style Guide</h1>
      </header>
      <nav role='navigation'>
        <ul>
          <li>
            <a href='{{ site.url }}/styleguide'>Overview</a>
          </li>
          <li>
            <a href='{{ site.url }}/styleguide/css'>Styling (CSS)</a>
          </li>
          <li>
            <a href='{{ site.url }}/styleguide/html'>Markup (HTML)</a>
          </li>
          <li>
            <a href='{{ site.url }}/styleguide/javascript'>Behavior</a>
          </li>
          <li>
            <a href='{{ site.url }}/styleguide/ruby'>Ruby</a>
          </li>
        </ul>
      </nav>
      <section id='main-content'>
        {{ content }}
      </section>
      <footer>
        <p>
          Hosted on Github Pages using a custom theme by
          <a href='http://github.com/corroded'>corroded</a>
          based on the
          <a href='https://github.com/orderedlist/minimal'>minimal</a>
        </p>
        <p>
          This project is maintained by
          <a href='http://github.com/corroded'>corroded</a>
        </p>
      </footer>
    </section>
  </body>
</html>
