:plain
  ---
  menu:
    - name: css
      label: Styling (CSS)
    - name: html
      label: Markup (HTML)
    - name: js
      label: Behavior (JS)
    - name: ruby
      label: Ruby
  ---

!!!
%html
  %head
    %meta{:charset => "utf-8"}/
    %title AELOGICA Style Guide
    %link{:href => "http://fonts.googleapis.com/css?family=Inconsolata", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "http://fonts.googleapis.com/css?family=Anonymous+Pro", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "http://{{ site.base_url }}/{{ site.project_name }}/stylesheets/screen.css", :media => "screen, projection", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "http://{{ site.base_url }}/{{ site.project_name }}/stylesheets/plugins/snippets.css", :media => "screen, projection", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "http://{{ site.base_url }}/{{ site.project_name }}/stylesheets/print.css", :media => "print", :rel => "stylesheet", :type => "text/css"}/
    -#%link{:href => "/stylesheets/screen.css", :media => "screen, projection", :rel => "stylesheet", :type => "text/css"}/
    -#%link{:href => "/stylesheets/plugins/snippet.css", :media => "screen, projection", :rel => "stylesheet", :type => "text/css"}/
    -#%link{:href => "/stylesheets/print.css", :media => "print", :rel => "stylesheet", :type => "text/css"}/
    /[if IE]
      <link href="{{ site.url }}stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
  %body
    %section#container

      %header
        #logo
          %a{:href => "http://aelogica.com"}
            %img{:alt => "creative mobile & web development", :title => "creative mobile & web development", :src => "/images/cwmd.png"}/

      %nav{:role => "navigation"}
        %ul
          {% for element in page.menu %}
          {% if element.name == page.name %}
          %li
            %a{:class => "menu-item current", :href => "{{ site.url }}/styleguide/{{ element.name }}"} {{ element.label }}
          {% else %}
          %li
            %a{:class => "menu-item", :href => "{{ site.url }}/styleguide/{{ element.name }}"} {{ element.label }}
          {% endif %}
          {% endfor %}

      %section#main-content
        .sidebar
          %a{:href => "/", :title => "aelogica"}
            %img{:src => "/images/ae.png", :alt => "aelogica logo", :title => "aelogica logo"}/

          {% if page.toc %}
          %section.table-of-contents
            %ul
              {% for element in page.toc %}
              %li
                %a.chapter{href: '#{{ element.bookmark }}'} {{ element.bookmark | replace: '_', ' ' | capitalize }}
              {% endfor %}
          {% endif %}

        .markdown
          {{ content }}

      %footer
        %p
          Hosted on Github Pages

    %script{:src => "{{ site.url }}javascripts/jquery-1.7.2.min.js", :type => "text/javascript"}
    %script{:src => "{{ site.url }}javascripts/jquery.snippet.min.js", :type => "text/javascript"}
    %script{:src => "{{ site.url }}javascripts/main.js", :type => "text/javascript"}
    -#%script{:src => "/javascripts/jquery-1.7.2.min.js", :type => "text/javascript"}
    -#%script{:src => "/javascripts/jquery.snippet.min.js", :type => "text/javascript"}
    -#%script{:src => "/javascripts/main.js", :type => "text/javascript"}
