---
menu:
  - name: css
    label: Styling (CSS)
  - name: html
    label: Markup (HTML)
  - name: js
    label: Behavior (JS)
  - name: ruby
    label: Ruby
---
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta charset='utf-8' />
    <title>AELOGICA Style Guide</title>
    <link href='http://fonts.googleapis.com/css?family=Inconsolata' rel='stylesheet' type='text/css' />
    <link href='http://fonts.googleapis.com/css?family=Anonymous+Pro' rel='stylesheet' type='text/css' />
    {% include_css screen %}
    {% include_css plugins/snippet %}
    {% include_css print %}
    <!--[if IE]>
      {% include_css ie %}
    <![endif]-->
  </head>
  <body>
    <section id='container'>
      <header>
        <div id='logo'>
          <a href='http://aelogica.com'>
            <img alt='creative mobile &amp; web development' src='http://{{ site.base_url }}/{{ site.project_name }}/images/cwmd.png' title='creative mobile &amp; web development' />
          </a>
        </div>
      </header>
      <nav role='navigation'>
        <ul>
          {% for element in page.menu %}
          {% if element.name == page.name %}
          <li>
            <a class='menu-item current' href='http://{{ site.base_url }}/{{ site.project_name }}/styleguide/{{ element.name }}'>{{ element.label }}</a>
          </li>
          {% else %}
          <li>
            <a class='menu-item' href='http://{{ site.base_url }}/{{ site.project_name }}/styleguide/{{ element.name }}'>{{ element.label }}</a>
          </li>
          {% endif %}
          {% endfor %}
        </ul>
      </nav>
      <section id='main-content'>
        <div class='sidebar'>
          <a href='http://{{ site.base_url }}/{{ site.project_name }}' title='aelogica'>
            <img alt='aelogica logo' src='http://{{ site.base_url }}/{{ site.project_name }}/images/ae.png' title='aelogica logo' />
          </a>
          {% if page.toc %}
          <section class='table-of-contents'>
            <ul>
              {% for element in page.toc %}
              <li>
                <a class='chapter' href='#{{ element.bookmark }}'>{{ element.bookmark | replace: '_', ' ' | capitalize }}</a>
              </li>
              {% endfor %}
            </ul>
          </section>
          {% endif %}
        </div>
        <div class='markdown'>
          {{ content }}
        </div>
      </section>
      <footer>
        <p>
          Hosted on Github Pages
        </p>
      </footer>
    </section>
    {% include_js jquery-1.7.2.min %}
    {% include_js jquery.snippet.min %}
    {% include_js main %}
  </body>
</html>
