<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta charset='utf-8' />
    <title>AELOGICA Style Guide</title>
    <link href='http://fonts.googleapis.com/css?family=Inconsolata' rel='stylesheet' type='text/css' />
    <link href='http://fonts.googleapis.com/css?family=Anonymous+Pro' rel='stylesheet' type='text/css' />
    <link href='/stylesheets/screen.css' media='screen, projection' rel='stylesheet' type='text/css' />
    <link href='/stylesheets/print.css' media='print' rel='stylesheet' type='text/css' />
    <!--[if IE]>
      <link href="{{ site.url }}stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
    <![endif]-->
  </head>
  <body>
    <section id='container'>
      <div id='ae'>
        <a href='/' title='aelogica'>
          <img alt='aelogica logo' src='/images/ae.png' title='aelogica logo' />
        </a>
      </div>
      <header>
        <div id='logo'>
          <a href='http://aelogica.com'>
            <img alt='creative mobile &amp; web development' src='/images/cwmd.png' title='creative mobile &amp; web development' />
          </a>
        </div>
      </header>
      <nav role='navigation'>
        <ul>
          <li>
            <a class='menu-item current' href='{{ site.url }}/styleguide'>Overview</a>
          </li>
          <li>
            <a class='menu-item' href='{{ site.url }}/styleguide/css'>Styling (CSS)</a>
          </li>
          <li>
            <a class='menu-item' href='{{ site.url }}/styleguide/html'>Markup (HTML)</a>
          </li>
          <li>
            <a class='menu-item' href='{{ site.url }}/styleguide/js'>Behavior (JS)</a>
          </li>
          <li>
            <a class='menu-item' href='{{ site.url }}/styleguide/ruby'>Ruby</a>
          </li>
        </ul>
      </nav>
      <section class='markdown' id='main-content'>
        {{ content }}
      </section>
      <footer>
        <p>
          Hosted on Github Pages
        </p>
      </footer>
    </section>
    <script src='{{ site.url }}javascripts/jquery-1.7.2.min.js' type='text/javascript'></script>
    <script src='{{ site.url }}javascripts/jquery.snippet.min.js' type='text/javascript'></script>
    <script src='{{ site.url }}javascripts/main.js' type='text/javascript'></script>
  </body>
</html>
